$lime-primary: #e6ee9c;
$lime-dark: #b3bc6d;
$lime-light: #ffffce;

$violet-secondary: #a49cee;
$violet-light: #d7cdff;
$violet-dark: #736ebb;

$background-light: #f5f5f5;
$background-dark: #e2e2e2;

$font-color: #000000;