.note-list {
  list-style-type: none;
  background-color: #d7cdff;
}
.note-list__list-item {
  margin: 8px 0;
  background-color: #ffffce;
  padding: 8px;
  font-size: 16px;
  display: block;
  min-height: 46px;
}

.list-item__deleteBtn {
  display: block;
  float: right;
  padding: 4px;
  width: 30px;
  height: 30px;
  margin: 0 0 4px 4px;
  cursor: pointer;
  color: #736ebb;
  font-weight: bold;
  border: 0;
  border-radius: 8px;
  background-color: transparent;
  font-size: 16px;
}
.list-item__deleteBtn:before {
  content: "\2715";
}

.list-item__deleteBtn:hover {
  background-color: #d7cdff;
  color: black;
}
.list-item__deleteBtn:active {
  transform: translateY(4px);
}
