.note-list {
  padding: 8px 16px;
  display: block;
  border: 1px solid black;
  list-style-type: none;
  min-width: 600px;
}
.note-list__list-item {
  border: 1px solid black;
  margin: 8px 0;
  padding: 8px 30px 8px 8px;
  position: relative;
}

.list-item__closeBtn {
  color: red;
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
}
