<ul class="note-list" ng-show="$ctrl.notes.length">
  <li
    class="note-list__list-item"
    ng-repeat="note in $ctrl.notes"
    ng-dblclick="$ctrl.editNote($index)"
    custom-touch
  >
    <button
      class="list-item__deleteBtn"
      style="width: 20px; height:20px;"
      ng-click="$ctrl.clickDeleteBtn($index)"
    ></button>
    {{ note.note }}
  </li>
</ul>
<delete-warning ng-show="$ctrl.showDeleteWarning"></delete-warning>
<empty-list-message ng-hide="$ctrl.notes.length"></empty-list-message>
