@import '../../scss/variables.scss';

.about {
  background-color: $background-light;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;

  .about__title {
    font-size: 24px;
    padding: 16px 0 8px;
  }
  .about__tagline {
    font-size: 20px;
    padding: 8px;
  }
  .about__description {
    font-size: 16px;
    text-align: justify;
    padding: 8px;
  }
  .about__subtitle {
    font-size: 18px;
    padding: 4px;
    text-align: left;
  }
  .about__list {
    text-align: left;
    list-style-type: none;
    margin: 0 0 15px 30px;
    font-size: 16px;
  }

}