@import "/header/header.css";
@import "/note-form/note-form.css";
@import "/note-list/note-list.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: #e2e2e2;
  color: #000000;
  font-family: "Lato", sans-serif;
}
