@import '../../scss/variables.scss';

.header__title {
  text-align: center;
  background-color: $lime-dark;
  font-size: 24px;
  padding: 8px 0;
}

.header__link {
  text-decoration: none;
  color: $font-color;
}

.header__menu {
  padding: 8px;
  background-color: $lime-primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__button {
  background-color: $violet-secondary;
  border: none;
  border-radius: 8px;
  color: $font-color;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
}
.menu__button:hover {
  background-color: $violet-dark;
}
.menu__button:active {
  transform: translateY(4px);
}

.menu__link {
  display: block;
}
