@import '../../scss/variables.scss';

.note-form {
  background-color: $lime-light;
  display: block;
  padding: 24px 8px 8px 8px;
  margin: 8px 0;
  position: relative;
}

.note-form__label {
  color: $font-color;
  display: inline;
  font-size: 14px;
}

.note-form__input {
  background-color: $violet-light;
  border: 0;
  border-bottom: 2px solid $violet-secondary;
  width: 100%;
  padding: 8px;
  margin: 4px 0 8px;
  box-sizing: border-box;
  color: $font-color;
}

.note-form__input:focus {
  border-bottom: 2px solid $violet-dark;
}

.note-form__backBtn {
  display: block;
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 4px;
  width: 30px;
  height: 30px;
  margin: 0 0 4px 4px;
  cursor: pointer;
  color: $violet-dark;
  font-weight: bold;
  border: 0;
  border-radius: 8px;
  background-color: transparent;
  font-size: 16px;
}
.note-form__backBtn:before {
  content: "\2715";
}

.note-form__backBtn:hover {
  background-color: $violet-light;
  color: $font-color;
}
.note-form__backBtn:active {
  transform: translateY(4px);
}

.note-form__saveBtn {
  background-color: $violet-secondary;
  border: none;
  border-radius: 8px;
  color: $font-color;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  margin: 12px 0px 12px auto;
  display: block;
}
.note-form__saveBtn:hover {
  background-color: $violet-dark;
}
.note-form__saveBtn:active {
  transform: translateY(4px);
}
