<form
  class="note-form md-whiteframe-6dp"
  layout="column"
  layout-align="space-around stretch"
  layout-padding=""
  ng-submit="addNote(query)"
>
  <div layout="row" layout-align="end center">
    <md-button 
      class="md-fab md-mini md-accent"
      aria-label="Close form"
      ng-click="backBtn()"
    >
      <md-icon md-svg-icon="img/close-24px.svg"></md-icon>
    </md-button>
  </div>
  <md-input-container class="md-block md-icon-float">
    <label>Note</label>
    <textarea rows="1" ng-model="query" required aria-label="Note"></textarea>
  </input-container>
    <div class="note-form__buttons" layout="row" layout-align="space-around center" >
      <md-button class="md-raised md-warn" aria-label="Delete note button" ng-hide="hideDeleteBtn" 
      ng-click="deleteBtn($event)">Delete</md-button>
      <md-button type="submit" class="md-raised md-primary" aria-label="Save button">Save</md-button>
  </div>
</form>
